body {
    width: 100%;
    padding: 0px;
    border: 0px;
    margin: 0px;
    background-color: #000000;
    text-align: center;
    font-size: 8pt; 
}

a {
    text-decoration: none;
}
a:link { color: #FFF; }
a:visited { color: #FFF; }
a:hover {
    color: #ffd7d7;
    background-color: #00000000;
}
a:active    { color: #000; }

#redbrand {
    color: indianred;
}

#redbrand:hover {
    color: white;
}

#cragmaw {
    color: lawngreen;
}

#cragmaw:hover {
    color: white;
}

#dragon {
    color: royalblue;
}

#dragon:hover {
    color: white;
}

table {
    padding: 0px;
    border: 0px;
    margin: 0px;
    border-spacing: 0px;
}

td {
    text-align: center;
    padding: 0px;
}

img {
    border: 0;
    outline: 0;
    object-fit: cover;
}

h1 {
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    font-size: 25pt; 
    font-weight: normal;
    font-family: sans-serif;
    color: #fff;
    background-color: #000;
}

h2 {
    padding-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    font-size: 15pt; 
    font-weight: normal;
    font-family: sans-serif;
    color: #fff;
    background-color: #000;
}

#dnd_map {
    display: inline-block;
    margin: 30px 10px;
}

.footer {
    /*padding-top: 0px;*/
    position: relative;
    bottom: 0;
    width: 100%;
    /*--doomfire-pixel-size:1;
    background-image: paint(doomfire);*/
}

#the_lot_more {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #d8f8ff;
    background: url(/graphics/starburst.gif);
    border-style: solid;
    border-color: #000;
    border-width: 0px 0px 0px 1px;
    background-attachment: fixed;
    min-height: 100vh;
}

#top_menu {
    background-color: #000;
    font-size: 25px;
    position: fixed;
}

.spacer {
    widows: 100%;
    height: 30px;
}

.top_menu_row {
    height: 15px;
}

.top_menu_alt1 {
    background-color: #04171c;
}

.top_menu_alt2 {
    background-color: #071012;
}

.top_menu_alt3 {
    background-color: #0a242a;
}

.glass {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0em 5em;
}

.glass_push{
    padding-left: 40px;
    border-collapse: separate;
    border-spacing: 0em 5em;
}

.glass_push_more{
    padding-left: 40px;
    padding-top: 100px;
}

.plastic_favorite {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#plastic_hopeless {
    padding: 50px;
    margin-right: auto;
    margin-left: auto;
    font-size: 12pt; 
    font-weight: normal;
    font-family: sans-serif;
    color: #aaa;
}

.plastic_hopeless_yet_more {
    padding: 10px;
    border: 4px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border-color: #aaa;
    border-style: inset;
    border-width: 2px;
    font-size: 12pt; 
    font-weight: normal;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 1px #fff;
    background-color: #000;
}

#character_names {
    border: 4px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16pt; 
    font-weight: normal;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 1px #fff;
    background-color: #000;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

#campaign_text {
    border: 4px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20pt; 
    font-weight: normal;
    font-family: copperplate;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 1px #fff;
    background-color: #04171c;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

#videos_text {
    border: 4px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20pt; 
    font-weight: normal;
    font-family: copperplate;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 1px #fff;
    background-color: #04171c;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.square_sheet {
    padding: 0px;
    border: 4px;
    margin: 0px;
    margin-right: auto;
    width: 0px;
    border-color: #aaa;
    border-style: solid;
    border-width: 4px;
    color: #aaa;
    background-color: #000;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.square_sheet_campaign {
    padding: 0px;
    border: 4px;
    margin: 0px;
    width: 1200px;
    border-color: #aaa;
    border-style: solid;
    border-width: 4px;
    color: #aaa;
    background-color: #04171c;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.square_sheet_saga_box {
    padding-top: 2px;
    padding-bottom: 2px;
    border: 4px;
    margin: 0px;
    width: 1000px;
    border-color: #aaa;
    border-style: solid;
    border-width: 4px;
    color: #aaa;
    background-color: #04171c;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.square_sheet_saga {
    /*padding: 2px;*/
    border: 4px;
    margin: 2px;
    width: 100%;
    border-color: #aaa;
    border-style: solid;
    border-width: 4px;
    color: #aaa;
    background-color: #04171c;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.column {
    float: left;
    width: 50%;
    height: 100%;
    border: 4px;
    margin: 2px;
    display: flex;
    font-size: 32pt; 
    font-weight: normal;
    font-family: copperplate;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 1px #fff;
    background-color: #04171c;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.row {
    display: flex;
}

#flavor_text1 {
    padding-left: 160px;
    border: 4px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 680px;
    font-size: 16pt; 
    font-weight: normal;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 1px #fff;
    background-color: #000;
}

#flavor_text2 {
    padding-left: 160px;
    border: 4px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 690px;
    font-size: 16pt; 
    font-weight: normal;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 1px #fff;
    background-color: #000;
}

.character_sheet img {
    float: left;
}